#gametitle {
    background-color: blue
}
#directions {
    background-color: chartreuse
}
#button {
    background-color: aqua
}
#timer {
    background-color: darkmagenta
}
#questions {
    background-color: darkgoldenrod
}
#stats {
    background-color: grey
}
#gamereset {
    background-color: deeppink
}